.fieldrow {
  display: block
}
.message {
  padding: 15px;
  font-size: 12px;
  border: 1px solid #d7d7d7;
  margin: 10px;
}

.WithdrawBalanceForm_Body__Fieldrow,
.WithdrawBalanceForm_Body__FieldrowSubmit {
  display: block;
  width: 100%;
}

.WithdrawBalanceForm_Body__Field {
  width: 100%;
  color: white;
}

.WithdrawBalanceForm_Body__Message {
  padding: 15px;
  font-size: 12px;
  border: 1px solid #d7d7d7;
  margin: 10px;
}

.WithdrawBalanceForm_Body__FieldrowSubmit {
  text-align: right;
  padding: 10px;
}

.WithdrawBalanceForm_Body__Submit,
.WithdrawBalanceForm_Body__Clear {
  display: inline-block;
  padding: 3px;
}
